<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>We are sorry to see you go :(</h1>
<p>
  Your account has been successfully deleted. There are no more records of your account in our database.
</p>
<p>
  You can always register again, even with the same e-mail address. Just follow this link: <%= @url %>.
</p>
<p>
  Have a great day,<br>
  <strong>Address Book Team</strong>
</p>
</body>
</html>