<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to address-book.malcak.cz, <%= @user.email %></h1>
<p>
  Thank you for your interest in Address Book. Your account is set up and ready to use.<br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>
  Have a great day,<br>
  <strong>Address Book Team</strong>
</p>
</body>
</html>