<h1>About</h1>
<p>
  This application has been developed as take-home assignment for a job interview.
  It is a simple web application that allows users to create and manage their own address book.
  It is built using the following technologies: Ruby, Rails, PostgreSQL, RSpec, Bootstrap and jQuery.
</p>